main{
  text-align: center;
  min-height: 400px;
  background-image: url('../img/bg-prods.jpg');
  padding: 30px 0;
  h2{
    margin-bottom: 30px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
  .card{
      width: 25%;
      background-color: #fff;
      border: 1px solid #C3DAFF;
      padding: 20px 0;
  }
}